## Build a baseline model

Download and Clean Dataset

In [74]:
import pandas as pd
import numpy as np

In [75]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check the number data points

In [76]:
concrete_data.shape

(1030, 9)

Check for missing data

In [77]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [78]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [79]:
concrete_data_columns = concrete_data.columns

predictors_original = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column


predictors=predictors_original.drop(['Age'], axis=1)

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [80]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

normalize the data by substracting the mean and dividing by the standard deviation

In [81]:
n_cols = predictors.shape[1] # number of predictors
n_cols

7

Import Keras

In [82]:
import keras

In [83]:
from keras.models import Sequential
from keras.layers import Dense

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [84]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=1)

Build Neural Network

In [85]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Train and Test Network

In [86]:
# build the model
model = regression_model()

2. Train the model on the training data using 50 epochs.

In [93]:
model.fit(X_train, y_train, epochs=50, verbose = 2)

Epoch 1/50
 - 0s - loss: 153.8000
Epoch 2/50
 - 2s - loss: 146.0632
Epoch 3/50
 - 0s - loss: 145.8434
Epoch 4/50
 - 0s - loss: 147.6798
Epoch 5/50
 - 0s - loss: 144.8981
Epoch 6/50
 - 0s - loss: 140.5029
Epoch 7/50
 - 0s - loss: 144.3264
Epoch 8/50
 - 0s - loss: 141.6820
Epoch 9/50
 - 0s - loss: 141.9988
Epoch 10/50
 - 0s - loss: 141.8303
Epoch 11/50
 - 0s - loss: 145.6570
Epoch 12/50
 - 0s - loss: 142.6933
Epoch 13/50
 - 0s - loss: 143.1172
Epoch 14/50
 - 0s - loss: 141.1026
Epoch 15/50
 - 0s - loss: 149.7832
Epoch 16/50
 - 0s - loss: 140.7436
Epoch 17/50
 - 0s - loss: 140.2203
Epoch 18/50
 - 0s - loss: 143.1115
Epoch 19/50
 - 0s - loss: 143.0755
Epoch 20/50
 - 0s - loss: 143.8451
Epoch 21/50
 - 0s - loss: 146.3962
Epoch 22/50
 - 0s - loss: 147.6137
Epoch 23/50
 - 0s - loss: 150.8606
Epoch 24/50
 - 0s - loss: 146.7634
Epoch 25/50
 - 0s - loss: 148.4674
Epoch 26/50
 - 0s - loss: 151.0694
Epoch 27/50
 - 0s - loss: 142.6530
Epoch 28/50
 - 0s - loss: 142.0051
Epoch 29/50
 - 0s - loss: 146.7952
Epoch 30/50
 - 0s - loss: 145.2450
Epoch 31/50
 - 0s - loss: 149.6745
Epoch 32/50
 - 0s - loss: 142.7274
Epoch 33/50
 - 0s - loss: 139.8061
Epoch 34/50
 - 0s - loss: 149.4996
Epoch 35/50
 - 0s - loss: 139.1765
Epoch 36/50
 - 0s - loss: 143.2919
Epoch 37/50
 - 0s - loss: 140.7469
Epoch 38/50
 - 0s - loss: 145.5999
Epoch 39/50
 - 0s - loss: 163.8970
Epoch 40/50
 - 0s - loss: 148.8955
Epoch 41/50
 - 0s - loss: 143.5998
Epoch 42/50
 - 0s - loss: 143.3881
Epoch 43/50
 - 0s - loss: 145.7174
Epoch 44/50
 - 0s - loss: 143.0003
Epoch 45/50
 - 0s - loss: 147.6682
Epoch 46/50
 - 2s - loss: 141.7365
Epoch 47/50
 - 0s - loss: 142.9248
Epoch 48/50
 - 0s - loss: 141.6363
Epoch 49/50
 - 0s - loss: 147.3187
Epoch 50/50
 - 0s - loss: 140.8515

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength a
nd the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [88]:
y_pred = model.predict(X_test)

In [90]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

187.40725022151216

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [91]:
MSE = []

for i in range(0, 50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    print("Mean Squared Errors "+str(i+1)+": "+str(mean_square_error ))
    MSE.append(mean_square_error)

Mean Squared Errors 1: 147.21908908945682
Mean Squared Errors 2: 170.77864563630808
Mean Squared Errors 3: 165.83656691615437
Mean Squared Errors 4: 193.1965761551997
Mean Squared Errors 5: 206.1529628757807
Mean Squared Errors 6: 148.6784562318663
Mean Squared Errors 7: 177.38221390982457
Mean Squared Errors 8: 169.46838921630862
Mean Squared Errors 9: 166.58611486085871
Mean Squared Errors 10: 181.590903973799
Mean Squared Errors 11: 152.12546229670002
Mean Squared Errors 12: 139.82840763929917
Mean Squared Errors 13: 153.89712818284684
Mean Squared Errors 14: 180.1915665174726
Mean Squared Errors 15: 148.81992086906592
Mean Squared Errors 16: 133.1968741141545
Mean Squared Errors 17: 144.35536205638215
Mean Squared Errors 18: 128.31863949633725
Mean Squared Errors 19: 135.76382939449712
Mean Squared Errors 20: 162.66676621290122
Mean Squared Errors 21: 140.95777869681814
Mean Squared Errors 22: 146.55874716743668
Mean Squared Errors 23: 148.4929877714111
Mean Squared Errors 24: 147.35061827510737
Mean Squared Errors 25: 133.5544601322308
Mean Squared Errors 26: 136.78438872463983
Mean Squared Errors 27: 157.01133036989378
Mean Squared Errors 28: 149.74464010396244
Mean Squared Errors 29: 150.5112824268566
Mean Squared Errors 30: 140.20748099529982
Mean Squared Errors 31: 136.64908973041238
Mean Squared Errors 32: 163.51619514335235
Mean Squared Errors 33: 150.3720507336387
Mean Squared Errors 34: 136.67832416275914
Mean Squared Errors 35: 176.02497503862193
Mean Squared Errors 36: 162.26948856544726
Mean Squared Errors 37: 151.10913123063725
Mean Squared Errors 38: 151.25655326420463
Mean Squared Errors 39: 147.27213635917917
Mean Squared Errors 40: 136.59996389856
Mean Squared Errors 41: 136.19978487548954
Mean Squared Errors 42: 142.053069879491
Mean Squared Errors 43: 152.36656621178977
Mean Squared Errors 44: 178.01357336712945
Mean Squared Errors 45: 147.5099607036128
Mean Squared Errors 46: 142.36028494354443
Mean Squared Errors 47: 143.71560887986814
Mean Squared Errors 48: 160.7555736872666
Mean Squared Errors 49: 141.61868695498924
Mean Squared Errors 50: 147.5504229326464

In [94]:
MSE = np.array(MSE)
meanMSE = np.mean(MSE)
stdevMSE = np.std(MSE)

print("mean of mean squared errors.: "+str(meanMSE))
print("standard deviation of mean squared errors.: "+str(stdevMSE))

mean of mean squared errors.: 153.2223806174302
standard deviation of mean squared errors.: 16.350439942905588